*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    background: #cc7878;
    color: rgb(226, 73, 73);
    font-weight: bolder;
}

.search-box {
    width: 600px;
    background: rgb(35, 28, 78);
    margin: 200px auto 0;
    border-radius: 35px;
}

.row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

input {
    flex: 1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
}
button {
    background: transparent;
    border: 0;
    outline: 0;
}
button .fa-solid {
    width: 25px;
    color: #a50a52;
    font-size: 30px;
    cursor: pointer;
}

::placeholder {
    color: rgb(117, 109, 109);
    font-size: 15px;
}

.result-box ul{
    border-top: 1px solid #999;
    padding: 15px 10px;
}

.result-box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.result-box ul li:hover {
    background: #d4ecc3;
    border-radius: 60px;
    cursor: pointer;
}

.result-box {
    max-height: 300px;
    overflow-y: scroll;
}